@model IList<ChitalkaMVC.Storage.Entities.Author>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">All Authors:</h1>

<p style="text-align:center">
    <a asp-action="Create">Create New</a>
</p>
<div style="width:80%;margin-left:10%;">
    <table class="table">
    <thead>
        <tr>
            <th>
               Image
            </th>
            <th>
               Name
            </th>
            <th>
               Id
            </th>
            <th>
               Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    <img style="height: 225px; width: 225px" src=@item.ImagePath asp-append-version="true" />
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.Country.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
