@model Chitalka_v3.Models.Books

@{
    ViewData["Title"] = "Delete";
}

<h1 stryle="margit-left:35%">Удаляем</h1>


<div>
    <h4 style="margin-left:35%">Books</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookInside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookInside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriprionBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriprionBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image.book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image.book)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Centuary.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Centuary.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>